<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item"><%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %></li>
    </ul>
    <br/>
    <%= link_to "View My Profile", user_path(current_user.id), class: "btn btn-default" %>
  </div>

  <div class="col-md-9 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">Your Profile</div>
      <div class="panel-body">
        <div class="container">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "shared/devise_messages", resource: resource %>

            <div class="form-group">
              <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", placeholder: "Full Name",
                          class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_field :phone_number, autofocus: true, placeholder: "Phone Number",
                          class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_area :description, rows: 5, cols: 25, autofocus: true, placeholder: "Description",
                          class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",
                          class: "form-control" %>
            </div>
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: "New Password",
                          class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password",
                          class: "form-control" %>
            </div>

            <label class="btn btn-primary">
              Upload Profile Picture
              <%= f.file_field :avatar, style: 'display:none;' %>
            </label><br/><br/>

            <div class="actions">
              <%= f.submit "Save", class: 'btn btn-normal btn-block' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
