<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="text-center", style="font-size: 20px;">Please Sign Up To Create An Account</h2><br>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "shared/devise_messages", resource: resource %>

      <div class="form-group">
        <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", placeholder: "Full Name",
                    class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",
                    class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Password",
                    class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password",
                  class: "form-control" %>
      </div>
     
      <div class="actions">
        <%= f.submit "Sign Up", class: 'btn btn-normal btn-block' %>
      </div>
    <% end %>

    <%#= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class:  "btn btn-facebook btn-block" %>
  </div>
</div>
