<header>
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <div class="header__text-box">
                    <h1 class="heading-primary">
                        <span class="heading-primary--main">Get out and stretch your imagination</span><br/>
                        <span class="heading-primary--sub">Plan a unique kind of getaway and experience a city like a local</span>
                    </h1>
                    
                    <%= form_tag search_path, method: :get do %>
                        <div class="row">
                            <div class="col-md-6">
                                <%= text_field_tag :search, params[:search], placeholder: "Where are you going?", class: "form-control", id:"autolocation" %>
                            </div>
                            <div class="col-md-3">
                                <%= text_field_tag :start_date, params[:start_date], placeholder: "Start Date", class: "form-control datepicker" %>
                            </div>
                            <div class="col-md-3">
                                <%= text_field_tag :end_date, params[:end_date], placeholder: "End Date", class: "form-control datepicker" %>
                            </div>
                        </div>
                        <br/><br/>
                    
                        <div class="row">
                            <div class="col-md-offset-4 col-md-4">
                                <%= submit_tag "Search", class: "button button--green" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="section-homes"> 
        <div class="sub-heading">
            <h3>MOST POPULAR HOMES</h3>
        </div>
        <br/>
        <div class="row">
            <%= render partial: "rooms/rooms_list", locals: {rooms: @rooms} %>
        </div>
    </section>

    <section class="section-cities">
        <!-- CITIES -->
        <div class="sub-heading">
            <h3>MOST VISITED CITIES</h3>
        </div>
        <br/>
        
        <div class="row">
            <div class="col-md-4">
                <div class="card">

                    <div class="card__side card__side--front">
                        <div class="discovery-card" style="background-image: url('/assets/amsterdam1.jpg')"></div>
                    </div>

                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                            <div class="card__heading">
                                <h2>Amsterdam</h2>
                            </div>
                            <div class="card__description">
                                <p>
                                    Egestas egestas fringilla phasellus faucibus. Ut aliquam purus sit amet luctus venenatis. 
                                    Volutpat sed cras ornare arcu dui. Lobortis elementum nibh tellus molestie nunc non blandit. 
                                    Enim ut sem viverra aliquet eget. Orci porta non pulvinar neque laoreet suspendisse. Dolor 
                                    sit amet consectetur adipiscing elit. Diam in arcu cursus euismod quis viverra nibh cras pulvinar. 
                                    Et tortor consequat id porta nibh venenatis cras sed felis. Massa tempor nec feugiat nisl pretium. 
                                    Volutpat blandit aliquam etiam erat velit scelerisque in. Cras ornare arcu dui vivamus arcu felis bibendum. 
                                    Ut faucibus pulvinar elementum integer enim neque volutpat. Sagittis vitae et leo duis ut. 
                                    Ultrices gravida dictum fusce ut placerat orci nulla. Eu non diam phasellus vestibulum lorem. 
                                    Auctor eu augue ut lectus arcu. Erat imperdiet sed euismod nisi porta lorem mollis.
                                </p>
                            </div>
                            <% if Rails.env.development? %>
                                <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=amsterdam" class="btn btn-white">CHECK IT OUT</a>
                            <% else %>
                                <a href="https://sleep-inn.herokuapp.com/search?utf8=%E2%9C%93&search=amsterdam" class="btn btn-white">CHECK IT OUT</a>
                            <% end %>
    
                        </div>
                        
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card">

                    <div class="card__side card__side--front">
                        <div class="discovery-card" style="background-image: url('/assets/paris.jpg')"></div>
                    </div>

                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__heading">
                                <h2>Paris</h2>
                            </div>
                            <div class="card__description">
                                <p>
                                    Egestas egestas fringilla phasellus faucibus. Ut aliquam purus sit amet luctus venenatis. 
                                    Volutpat sed cras ornare arcu dui. Lobortis elementum nibh tellus molestie nunc non blandit. 
                                    Enim ut sem viverra aliquet eget. Orci porta non pulvinar neque laoreet suspendisse. Dolor 
                                    sit amet consectetur adipiscing elit. Diam in arcu cursus euismod quis viverra nibh cras pulvinar. 
                                    Et tortor consequat id porta nibh venenatis cras sed felis. Massa tempor nec feugiat nisl pretium. 
                                    Volutpat blandit aliquam etiam erat velit scelerisque in. Cras ornare arcu dui vivamus arcu felis bibendum. 
                                    Ut faucibus pulvinar elementum integer enim neque volutpat. Sagittis vitae et leo duis ut. 
                                    Ultrices gravida dictum fusce ut placerat orci nulla. Eu non diam phasellus vestibulum lorem. 
                                    Auctor eu augue ut lectus arcu. Erat imperdiet sed euismod nisi porta lorem mollis.
                                </p>
                            </div>
                            <% if Rails.env.development? %>
                                <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=paris" class="btn btn-white">CHECK IT OUT</a>
                            <% else %>
                                <a href="https://sleep-inn.herokuapp.com/search?utf8=%E2%9C%93&search=paris" class="btn btn-white">CHECK IT OUT</a>
                            <% end %>
    
                        </div>
                        
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card">

                    <div class="card__side card__side--front">
                        <div class="discovery-card" style="background-image: url('/assets/wroclaw.jpg')"></div>
                    </div>

                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__heading">
                                <h2>Wrocław</h2>
                            </div>
                            <div class="card__description">
                                <p>
                                    Egestas egestas fringilla phasellus faucibus. Ut aliquam purus sit amet luctus venenatis. 
                                    Volutpat sed cras ornare arcu dui. Lobortis elementum nibh tellus molestie nunc non blandit. 
                                    Enim ut sem viverra aliquet eget. Orci porta non pulvinar neque laoreet suspendisse. Dolor 
                                    sit amet consectetur adipiscing elit. Diam in arcu cursus euismod quis viverra nibh cras pulvinar. 
                                    Et tortor consequat id porta nibh venenatis cras sed felis. Massa tempor nec feugiat nisl pretium. 
                                    Volutpat blandit aliquam etiam erat velit scelerisque in. Cras ornare arcu dui vivamus arcu felis bibendum. 
                                    Ut faucibus pulvinar elementum integer enim neque volutpat. Sagittis vitae et leo duis ut. 
                                    Ultrices gravida dictum fusce ut placerat orci nulla. Eu non diam phasellus vestibulum lorem. 
                                    Auctor eu augue ut lectus arcu. Erat imperdiet sed euismod nisi porta lorem mollis.
                                </p>
                            </div>
                            <% if Rails.env.development? %>
                                <a href="http://localhost:3000/search?utf8=%E2%9C%93&search=wrocław" class="btn btn-white">CHECK IT OUT</a>
                            <% else %>
                                <a href="https://sleep-inn.herokuapp.com/search?utf8=%E2%9C%93&search=wrocław" class="btn btn-white">CHECK IT OUT</a>
                            <% end %>
    
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- STORIES -->
    <div class="sub-heading">
        <h3>WHAT OUR CHERISHED USERS HAVE TO SAY ABOUT US</h3>
    </div>
    <br/>

    <section class="section-stories">
        <div class="bg-video">
            <div class="bg-video__content">
                <%= video_tag(
                    'riverside.mp4',
                    id: 'background',
                    autoplay: true,
                    loop: true,
                    muted: true,
                    poster: ''
                )
                %>
            </div>
        </div>

        <div class="row story">
            <figure class="story__shape">
                <%= image_tag "sophie.jpg", class: "story__img" %>
                <figcaption class="story__caption">Sophie Turner</figcaption>
            </figure>
            <div class="story__text">
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, nesciunt 
                    asperiores. Iusto mollitia nesciunt aut, quia distinctio labore quis nisi ut 
                    necessitatibus ipsam delectus error. Odio fugiat qui deserunt reprehenderit
                    Parturient montes nascetur ridiculus mus mauris vitae. Aliquet enim tortor at 
                    auctor urna nunc id. Aliquam sem fringilla ut morbi tincidunt augue interdum. 
                    Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget.
                </p>
            </div>
        </div>

        <div class="row story">
            <figure class="story__shape">
                <%= image_tag "daniel.jpg", class: "story__img" %>
                <figcaption class="story__caption">Daniel Kaluya</figcaption>
            </figure>
            <div class="story__text">
                <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, nesciunt 
                asperiores. Iusto mollitia nesciunt aut, quia distinctio labore quis nisi ut 
                necessitatibus ipsam delectus error. Odio fugiat qui deserunt reprehenderit
                Parturient montes nascetur ridiculus mus mauris vitae. Aliquet enim tortor at 
                auctor urna nunc id. Aliquam sem fringilla ut morbi tincidunt augue interdum. 
                Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget.
                </p>
            </div>
        </div>

        <div class="row story">
            <figure class="story__shape">
                <%= image_tag "danai.jpg", class: "story__img" %>
                <figcaption class="story__caption">Danai Gurira</figcaption>
            </figure>
            <div class="story__text">
                <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, nesciunt 
                asperiores. Iusto mollitia nesciunt aut, quia distinctio labore quis nisi ut 
                necessitatibus ipsam delectus error. Odio fugiat qui deserunt reprehenderit
                Parturient montes nascetur ridiculus mus mauris vitae. Aliquet enim tortor at 
                auctor urna nunc id. Aliquam sem fringilla ut morbi tincidunt augue interdum. 
                Suspendisse interdum consectetur libero id faucibus nisl tincidunt eget.
                </p>
            </div>
        </div>
    </section>

    <section class="section-contact">
            <div class="sub-heading">
                <h3>WOULD YOU LIKE TO GET IN TOUCH WITH US?</h3>
            </div>
            <br/>

            <div class="contact">
                <%= render 'shared/contact_form' %>
            </div>
    </section>

</main>

<script>
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });

  $('#end_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: '3m',
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });

  $(function () {
    $("#autolocation").geocomplete();
  });
</script>
