<div class="contact-form">
      <div class="form-items">
        <%= form_for @contact, url: contacts_path do |f| %>
          <div class="form-group">
            <div class="contact-heading">
              <span>Would you like to get in touch?</span>
            </div><br/>
            <%= f.text_field :name, class: "form-input", :id=> "name", placeholder: "full name" %>
            <label for="name" class="form-label">full name</label>
          </div>

          <div class="form-group">
            <%= f.email_field :email, class: "form-input", :id=> "email", placeholder: "email address" %>
            <label for="email" class="form-label">email address</label>
          </div>
          
          <div class="form-group">
            <%= f.text_area :message, class: "form-input", rows: 5, :id=> "message", placeholder: "type your message here" %>
          </div>

          <div class="form-group">
            <button class="butn butn--blue">Send Message</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>