<div class="popup">
  <div class="popup-content">
    <div class="popup-left">
      <%= image_tag "will.jpg", width: 150, alt: "popup image", class: 'popup-img' %>
    </div>
    <div class="popup-right">
      <p class="popup-text">Thank you very much for your message!<br/><br/> We'll get back to you shortly &#128522</p>
      <%= link_to root_path do %>
        <span class="popup-close">&times;</span>
      <% end %>
    </div>
  </div>
</div>