<div class="panel panel-default">
  <div class="panel-heading">
    <span><i class="fa fa-bolt" style="color: #ffb400"></i> $<%= @room.price %></span>
    <span class="pull-right">Per Night</span>
  </div>
  <div class="panel-body">
  <%= form_for([@room, @room.reservations.new]) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <label>Check In</label>
        <%= f.text_field :start_date, readonly: true, placeholder: "Start Date", class: "form-control datepicker" %>
      </div>
      <div class="col-md-6">
        <label>Check Out</label>
        <%= f.text_field :end_date, readonly: true, placeholder: "End Date", class: "form-control datepicker", disabled: true %>
      </div>
    </div>

    <h4 class="message-alert text-center"><span id="message"></span></h4>

    <div id="preview" style="display: none">
      <table class="reservation-table">
        <tbody>
          <tr>
            <td>Price</td>
            <td class="text-right">$<%= @room.price %></td>
          </tr>
          <tr>
            <td>Night(s)</td>
            <td class="text-right">x<span id="reservation_nights"><span></td>
          </tr>
          <tr>
            <td class="total">Total</td>
            <td class="text-right">$<span id="reservation_total"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <br/>

    <%= f.submit "Make Reservation", id: "btn_book", class: "btn btn-normal btn-block", disabled: true %>
  <% end %>
  </div>
</div>

<script>

  function checkDate(date) {
    dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
    return [$.inArray(dmy, unavailableDates) == -1];
  }

  $(function() {

    unavailableDates = [];

    $.ajax({
      url: '<%= preload_room_path(@room) %>',
      dateTyp: 'json',
      success: function(data) {
        $.each(data, function(arrID, arrValue) {
          for(let d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1 )) {
            unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
          }
        });

        $('#reservation_start_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,
          onSelect: function(selected) {
            $('#reservation_end_date').datepicker("option", "minDate", selected);
            $('#reservation_end_date').attr("disabled", false);

            let start_date = $('#reservation_start_date').datepicker('getDate');
            let end_date = $('#reservation_end_date').datepicker('getDate');
            let nights = (end_date - start_date)/1000/60/60/24 + 1;

            let input = {
              'start_date': start_date,
              'end_date': end_date
            }

            $.ajax({
              url: '<%= preview_room_path(@room) %>',
              data: input,
              success: function(data) {
                  if(data.conflict) {
                    $('#message').text("These dates are not available");
                    $('#preview').hide();
                    $('#btn_book').attr('disabled', true);
                  } else {
                    $('#message').text("");
                    $('#preview').show();
                    $('#btn_book').attr('disabled', false);

                    let total = nights * <%= @room.price %>
                    $('#reservation_nights').text(nights);
                    $('#reservation_total').text(total);

                  }
              }
            })
          }
        });

        $('#reservation_end_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: checkDate,
          onSelect: function(selected) {
            $('#reservation_start_date').datepicker("option", "maxDate", selected);

            let start_date = $('#reservation_start_date').datepicker('getDate');
            let end_date = $('#reservation_end_date').datepicker('getDate');
            let nights = (end_date - start_date)/1000/60/60/24 + 1;

            let input = {
              'start_date': start_date,
              'end_date': end_date
            }

            $.ajax({
              url: '<%= preview_room_path(@room) %>',
              data: input,
              success: function(data) {
                  if(data.conflict) {
                    $('#message').text("These dates are not available");
                    $('#preview').hide();
                    $('#btn_book').attr('disabled', true);
                  } else {
                    $('#message').text("");
                    $('#preview').show();
                    $('#btn_book').attr('disabled', false);

                    var total = price * <%= @room.price %>
                    $('#reservation_nights').text(nights);
                    $('#reservation_total').text(total);

                  }
              }
            })
          }
        });
      }

    })

  });
</script>
