<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="text-center", style="font-size: 20px;">Please Enter Login Details</h2><br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email",
                    class: "form-control" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password",
                    class: "form-control" %>
      </div>
      <br/>
      <div>
        <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %> Remember Me
        <% end %>
        <span class="pull-right">
          <%= link_to "Forgot Password", new_user_password_path %>
        </span>
      </div>
      <br/><br/>
      <div class="actions">
        <%= f.submit "Sign In", class: 'btn btn-normal btn-block' %>
      </div>
    <% end %>

    <%#= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-facebook btn-block" %>
  </div>
</div>
