<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        Photos
      </div>

      <div class="panel-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <%= form_for @room, url: room_photos_path(@room), method: 'post', html: {multipart: true} do |f| %>
                <div class="row">
                  <div class="form-group">
                    <span class="btn btn-default btn-file text-babu">
                      <i class="fa fa-cloud-upload" aria-hidden="true"></i> Select Photos
                      <%= file_field_tag "images[]", type: :file, multiple: true %>
                    </span>
                  </div>
                </div>
                <div class="text-center">
                  <%= f.submit "Add Photos", class: "btn btn-normal" %>
                </div>
              <% end %>
            </div>
          </div>
          <div id="photos">
            <%= render 'photos/photos_list' %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
