.button {
  &,
  &:link,
  &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: .9rem 5rem;
      display: inline-block;
      border-radius: 2rem;
      transition: all 0.2s;
      position: relative;
      font-size: $default-font-size;

      //change for the <button> element
      border: none;
      cursor: pointer;
  }

  &:hover
   {
      transform: translateY(-0.3rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black,.2);

      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
  
  }

  &:active,
  &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0, .5rem 1rem rgba($color-black,.2);
  }

  &--white {
      background-color: $color-white;
      color: #777;

      &::after {
          background-color: $color-white;
      }
  }

  &--green {
      background-color: $color-primary;
      color: $color-white;

      &::after {
          background-color: $color-white;
      }
  }

  &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
  }

  &--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
  }
}

.button-text {
  &:link,
  &:visited {
      font-size: $default-font-size;
      color: $color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-primary;
      padding: 3px;
      transition: all .3s;
  }

  &:hover {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black,.15);
      transform: translateY(-2px) ;
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba($color-black,.15);
      transform: translateY(0);
  }
}