.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; 
  height: 52rem;

    &__heading {
      font-size: 2.8rem;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      color: $color-grey-dark;
    }

    &__description {
      font-size: 1.5rem;
      color: #4d194d;
      text-align: justify;
    }

    &__cta {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      text-align: center;
    }

    &__side {
      height: 52rem;
      transition: all .8s ease;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  
        &--front {
          background-color: $color-white;
        }
  
        &--back {
          transform: rotateY(-180deg);
    
          &-1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
          }
    
          &-2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
          }
          &-3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
          }
        }
      }
  
      &:hover &__side--front {
        transform: rotateY(180deg);
      }
    
      &:hover &__side--back {
        transform: rotateY(0);
      }

      // FRONT-SIDE STYLING
      &__picture {
        background-size: cover;
        height: auto;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    
        &--1 {
          background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(../img/nat-5.jpg);
        }
    
        &--2 {
          background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);
        }
    
        &--3 {
          background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(../img/nat-7.jpg);
        }
      }
    
  }
  
