@import "mixins";
@import "bootstrap";
@import "jquery-ui";

.contact {
  margin: 0;
}

.contact-form {
  background : url(contact.jpg);
  background-size: 100%;

  height: 50rem;
  width: 75%;
  border-radius: 5px;
  box-shadow: 0 1.5rem 4rem rgba(#000, .8);
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 12rem;

  @media screen and (max-width: 600px) {
    margin-top: 60px;
    width: 50%;
  }

}

.form-items {
  width: 60%;
  padding: 2rem;
  padding-left: 4rem;

  @include respond(tab-land) {
    width: 65%;
  }

  @include respond(tab-port) {
      width: 100%;
  }
}

.form-input {
  font-size: 1.6rem;
  font-family: inherit;
  color: #000;
  border-radius: 3px;
  border: 1px solid #eeb61c;
  background-color: rgba(#e1e1d0, .9);
  //border-bottom: 3px solid transparent;
  width: 90%;
  height: 4rem;
  display: block;
  transition: all .3s;

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(#000, .1);
    border-bottom: 3px solid #55c57a;
  }

  &:focus:invalid {
    border-bottom: 3px solid red;
  }

  &::-webkit-input-placeholder {
    color: #999;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

.form-input:placeholder-shown + .form-label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}

.form-label {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
  transition: all .3s;
  display: flex;
  margin-left: auto;
}

.butn {
  &,
  &:link,
  &:visited {
      text-decoration: none;
      padding: 1rem 2rem;
      display: inline-block;
      border-radius: 8rem;
      transition: all 0.2s;
      position: relative;
      display: flex;
      margin-left: 0;
      border: none;
      cursor: pointer;
  }

  &:hover
   {
      transform: translateY(-0.3rem);
      box-shadow: 0 0.5rem 1rem rgba(#000,.2);

      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
  
  }

  &:active,
  &:focus {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0, .5rem 1rem rgba(#000,.2);
  }

  &--white {
      background-color: #fff;
      color: #777;

      &::after {
          background-color: #777;
      }
  }

  &--blue {
      background-color: #274cc4;
      color: #fff;

      &::after {
          background-color: #fff;
      }
  }

  &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
  }

  &--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
  }
}

.butn-text {
  &:link,
  &:visited {
      color: #2998ff;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid #55c57a;
      padding: 3px;
      transition: all .3s;
  }

  &:hover {
      background-color: #55c57a;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(#000,.15);
      transform: translateY(-2px) ;
  }

  &:active {
      box-shadow: 0 .5rem 1rem rgba(#000,.15);
      transform: translateY(0);
  }
}

.contact-heading {
  margin-top: 5px;
  font-size: 1.5rem;
  display: flex;
  margin-left: 0;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, .8);
  transition: all .3s;
  z-index: 9999;
  justify-content: center;
  display: flex;
  align-items: center;
  //position: relative;
  margin: auto;
  z-index: 9999;
}
  

.popup-content {
    @include absCenter;
    width: 90%;
    height: 45%;
    background-color:  #ffffb3;
    box-shadow: 0 2rem 4rem rgba(#000000, .2);
    border-radius: 3px;
    /* Center vertically and horizontally */
    // position: absolute;
    text-align: center;
    transform: translate(-50%, -50%) scale(.58);
    transition: all .5s .2s;
    display: flex;
    justify-content: space-between;

  }

.popup-close {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 50px;
  text-decoration: none;
  //display: inline-block;
  transition: all .2s;
  line-height: 1;
  display: flex; 
  text-align: center;     

  &:hover {
      color: #000;
  }
}

.popup-text {
  font-size: 3rem;
  margin-bottom: 4rem;
  padding-top: 70px;
}

.popup-left {
  width: 20%;
  margin-left: 5rem;
  margin-top: 4rem;
  position: relative;
}

.popup-right {
  width: 80%;
  text-align: left;
  padding-left: 3rem;
  padding-top: 2.2rem;
}

.popup-img {
  display: block;
  width: 100%;
  height: 85%;
  border-radius: 50%;
  position: absolute;
}

.msg-box {
  width: 90%;
  border-radius: 3px;
  border: 1px solid #eeb61c;
  font-size: 1.6rem;
  background-color: rgba(#e1e1d0, .9);
}