//Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #b3e6ff;
$color-secondary-dark: #24b4d8;

$color-tertiary-light: #ffffb3;
$color-tertiary-dark: #ffd633;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000; 
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$default-font-size: 1.6rem;