/*
 *= require jquery-ui/datepicker
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";
@import "pages";

.body {
  color: #565a5c;
  background-color: #F8F8F8;
  font-family: "Valera Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding: 30px;
  width: auto;
}

a {
  color: #0a837d;
}

.container {
  width: 98%;
}

.text-babu, .icon-babu{
  color: #0a837d;
}

.text-red, .icon-red {
  color: #FF5A5F;
}

//NAVBARS
.navbar-default{
  background-color:$color-primary;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  //position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-default .navbar-brand {
  color: #2d467b;
  font-size: 2.2em;
  font-weight: 600;
}

//BUTTONS
.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.btn {
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn-small {
  padding: 5px 15px;
  margin-top: 15px;
}

.btn-hover, .btn-focus {
  color: #fff;
}

.btn.btn-default {
  width: 100%;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  border-radius: 2px;
  padding:10px 0;
  margin-top: 10px;
}

.btn.btn-normal {
  border: 1px solid #b30059;
  background-color: #b30059;
}

.btn.btn-normal:active {
  outline: none;
  border-color: #e00007;
  background-color: #e00007;
}

.btn.btn-form {
  border: 1px solid #0a837d;
  background-color: #0a837d;
}

.btn.btn-form:active {
  outline: none;
  border-color: #066165;
  background-color: #066165;
}

.btn.btn-facebook {
  border: 1px solid #385998;
  background-color: #385998;
}

.btn.btn-facebook:active {
  outline: none;
  border-color: #2d467b;
  background-color: #2d467b;
}

.btn.btn-white {
  background-color: $color-white;
  color: #777;

  &::after {
      background-color: $color-white;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black,.15);
    transform: translateY(-2px) ;
  }
}

.btn.btn-green {
  background-color: $color-primary;
  color: $color-white;

  &::after {
      background-color: $color-white;
  }
}

//PANELS
.panel-default .panel-heading {
  color: #FFFFFF;
  background-color: #e68a00;
  font-size: 18px;
  font-weight: 400;
}

.panel-content {
  padding-bottom: 2rem;
}

.panel-body {
  color: #965676;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}
.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

//AVATAR
.avatar-small {
  width: 28px;
}
.avatar-medium{
  width: 48px;
}
.avatar-large {
  width: 68px;
}
.avatar-full {
  width: 100%;
}

//FORMS
.form_group {
  margin-bottom: 10px;
}

.form-control{
  border-radius: 10px;
  height: 4rem;
  border-style: solid;
  border-width: 1.5px;
}

.avatar-upload {
  display: flex;
  justify-content: space-between;
}

//SIDEBAR
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
}

.sidebar-link {
  color: #82888a;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #CACCCD;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565A5C;
  font-weight: bold;
  text-decoration: none;
}

//PHOTO UPLOADS
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
}

//ROOM show
.amenities li {
  margin-bottom: 10px;
  font-size: 16px;
  list-style-type: none;
}

.amenities .text-line-through {
  text-decoration: line-through;
  color: rgba(#0a837d, 0.45);
  font-size: 14px;
}

//RESERVATIONS
.reservation-table td {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dce0e0;
  padding: 10px;
}

.reservation-table .total td {
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.form-control.datepicker {
  color: #eeb61c;
  background-color: #FFFFFF;
  border: 1px solid #eeb61c;
  text-align: center;
}

.message-alert {
  color: #d43242;
  font-size: 14px;
  padding-top: 10px;
}

//SEARCH
#main {
  height: 100%;
  overflow: hidden;
}

#left {
  padding: 10px 400px 10px 20px;
  overflow: scroll;
  height: 100%
}

#right {
  position:fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
}

.map_price {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #00A699;
}

// HOME PAGE
.discovery-card {
  background-size: cover;
  background-position: center;
  height: 100%;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}

.about-listing {
  padding-left: 2rem;
}

.room-photos {
  padding-left: 2rem;
}

.room-map {
  padding-left: 2rem;
}
.near-by {
  padding-left: .5rem;
}

.listing-name {
  font-size: 22px;
}

.listing-title {
  font-size: 20px;
}


