// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "animations";
@import "variables";
@import "mixins";
@import "card";
@import "story";
@import "button";
@import "contact";

//HOMEPAGE
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
       rgba(#e6ffcc, 0.6), 
       rgba( #daffb3, 0.6)), 
       url(mollie.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      
  &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }
}

.heading-primary {
  color: $color-primary;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
      display: block;
      font-weight: 500;
      font-size: 4rem;
      letter-spacing: .75rem;

      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
  }

  &--sub {
      display: block;
      font-weight: 600;
      font-size: 2.5rem;
      letter-spacing: .35rem;
      color: #fff;

      animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ccff33, #739900);
  --webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: .5rem 1rem 2rem rgba(#000, .2)
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;

  &:not(:last-child) {
      margin-bottom: 3rem;
  }
}

.section-homes {
  background-color: $color-grey-light-1;
  padding-top: 20rem;
  padding-bottom: 10rem;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}

.sub-heading {
  font-size: 25px;
  color: #4d4d4d;
  padding-left: 3rem;
  padding-top: 2rem;
}

.feature-box {
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .3s;

  &:hover {
    transform: translateY(-1.5rem) scale(1.01);
  }
}

.section-cities {
  padding: 2rem 0 5rem 0;
}

.section-stories {
  position: relative;
  align-items: center;
  padding-top: 7rem;
  padding-bottom: 6rem;
  padding-left: 7rem;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .25;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.section-contact {
  padding: 3rem 0;
}

.book {
  background-image: linear-gradient(105deg, 
                                  rgba($color-white, .9) 0%,
                                  rgba($color-white, .9) 50%,
                                  transparent 50%) ,
                                  url(../img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

height: 50rem;

  &__form {
      width: 50%;
      padding: 6rem;
  }

}



